.top{
    width: 100%;
    background-color: #242424;
}
#logo{
    background-image: url("/img/topbar.png");
    height: 70px;
    width: 190px;
}
div+div{
    display: flex;
}
ul>li{
    color: white;
    line-height: 70px;
    display: inline;
}
